*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color:#fff;
}
html,body{
    height:100%;
    width:100%;
    background-color: #000;
}
#nav{
    height:80px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 50px;
}
#nav-prt2{
    display:flex;
    width:50%;
    align-items: center;
    justify-content: space-between;
}
#nav h1{
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
#nav i{
    font-size: 20px;
    margin-right: 5px;
}
#nav h5{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
}
#nav img{
    height:40px;
}
#line{
    width:60px;
    height:1px;
    background-color: red;
}
#content{
    height:calc(100% - 80px);
    width: 100%;
    display:flex;
    justify-content: space-between;
    position: relative;
}
#left{
    width:37%;
    height:100%;
    padding:130px 100px;
}
#right{
    width:37%;
    height:100%;
    padding:280px 120px;
}
#center{
    width:26%;
    height:100%;
    padding-top: 58px;
}
#left h1{
    font-size:58px;
    line-height: 56px;
    font-weight: 700;
    margin-bottom: 35px;
}
#left h1 span{
    color:red;
    font-weight: 500;
}
#left p{
    font-size: 15px;
    width:70%;
    margin-bottom: 35px;
    line-height: 20px;
}
#left button{
    background-color: red;
    padding:18px 36px;
    border-radius: 50px;
    font-size: 18px;
    display:flex;
    align-items: center;
    font-weight: 700;

}
#left button i{
    margin-right: 10px;
}
#center-bg{
    height:90%;
    width:100%;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    background-image: url('https://c0.wallpaperflare.com/preview/85/135/782/coca-cola-led-signage.jpg');
    background-size: 350%;
    background-position: 35% 50%;
    filter:blur(2px);
}
#content>img{
    height:100%;
    position:absolute;
    left:49%;
    transform:translate(-50%,0);
    z-index:99;
}
#right-elems{
    width:290px;
}
#elem1{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:55px;
    border-bottom: 1px solid #fff;
    opacity: 0.6;
}
#elem1 h1{
    font-size: 20px;
    font-weight: 600;
}
#elem1 i{
    font-size: 20px;
}
#elem2 h1{
    font-size: 20px;
    margin-bottom: 12px;
    padding-top:12px;
    font-weight: 600;
}
#elem2 p{
    font-size: 12px;
    width:82%;
    opacity:0.6;
}